{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
<div class="form-signin">
    <form action="/login" method="POST">
        <!--<img class="mb-4" src="{{ url_for('static', filename='images/4698590_basket_buy_ecommerce_online_shopping_icon.png') }}" alt="" width="72" height="57">-->
        {% with messages = get_flashed_messages() %}

        {% if messages %}
        <br />
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% endwith %}

        <h1 class="h3 mb-3 fw-normal">Por favor ingrese</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Recordar
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>

    </form>
    <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
    <form  action="/createaccount" method="GET">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
    </form>
</div>
{% endblock %}